@import "header.css";
@import "footer.css";


.review-photo {
    border-radius: 50%;
    filter: grayscale(100%);
    margin-top: 2rem;
}

.reviewer {
    font-size: 2em;
    font-family: "Courier New", Courier, monospace;
}

.reviews {
    margin-bottom: 4rem;
}

.reviews h2 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.review-photo {
    margin-bottom: 3rem;
}

.about-us h2 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
}

.about-us {
    margin-top: 2rem;
    margin-bottom: 5rem;
    width: 50%;
}
.pic-comp {
    padding: 2rem 7rem 5rem 7rem;

}

.jobs {
    margin: 2rem;
    font-weight: bold;
    font-style: italic;
    color: orange;
    text-shadow: 3px 3px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.jobs-cont{
    margin: 2rem 2rem 4rem;
    text-align: center;
}

.comp {
    height: 300px;
    overflow: hidden;
}
.comp img {
    height: auto;
    width: 100%;
}