@import "header.css";
@import "footer.css";


.contact-form {
    margin: 2rem auto;
    font-family: Arial, FontAwesome;
}

.contact-form input,
.contact-form textarea {
    width: 50%;
    margin-bottom: 1rem;
}

.contact-form a {
    width: 50%;
    text-decoration: none;
}

textarea {
    resize: none;
}

#map {
    height: 22.5rem;
    width: 27rem;
}

.map-column {
    padding-top: 4.5rem;
    padding-left: 12rem;
}